<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Email instruction</title>
</head>
<body>
    <h1>Hello <span th:text="${username}"></span>! </h1>
	<br>

	<p>Someone has requested a link to change your password. You can do this through the link below.</p>

	<p>If you didn't request this, please ignore this email.</p>
	<p>Your password won't change until you access the link above and create a new one.</p>
	
	<p>
		<!--
		<a th:href="@{/category/edit/{id}(id=${category.idCategory})}">view</a>
		-->
		<a th:href="${link_reset_password_token}"> 
			<span>
				Change my password.
			</span>
		</a>
	</p>
</body>
</html>
